datasets==2.21.0
htmldate==1.8.1
jusText==3.0.1
krippendorff==0.7.0
matplotlib==3.9.1
nltk==3.9.1
numpy==1.26.4
pandas==2.2.2
Protego==0.3.1
requests==2.32.3
scipy==1.13.1
seaborn==0.13.2
sentence-splitter==1.4
spacy==3.7.6
tqdm==4.66.5
textstat==0.7.4
trafilatura==1.12.0
traitlets==5.14.3
urllib3==1.26.19
